body {
  background: #f0f3f2;
  color: #fff;
}

header {
  background: #9aca40;
  padding: 20px;
  margin-bottom: 20px;
}

.contenedro-main {
  margin-bottom: 20px;
}

main {
  background: #424242;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
}

aside {
  background: #dee5e8;
  padding: 60px 0;
  color: #0d47a1;
}

.widgets {
  margin-bottom: 20px;
}

.widgets > div {
  background: #2196f3;
  color: #fff;
}

footer {
  padding: 20px 0;
  background: #1e1e1e;
  color: #fff;
}
